.ai-plan {
  width: 1704px;
  height: 1079px;
  padding: 90px;
  background-image: url('/studyBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.plan-box{
  border-radius: 25px;
  background: #FFF;
  width: 1250px;
}
.section {
  margin-bottom: 20px;
}

.section label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.material-selection,
.date-selection,
.range-selection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lecture-box{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 25px;
  padding-right: 25px;
}
.period-box{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 25px;
  width: 250px;
  height: 60px;
}
.contents-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  width: 160px;
  height: 60px;
}
.material-selection input,
.date-selection input,
.range-selection select,
textarea {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
}

textarea {
  resize: none;
  height: 80px;
}

.popup {
  position: fixed;
  top: 0; /* 화면 중앙으로 위치 */
  left: 0; /* 화면 중앙으로 위치 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* 고정된 너비 */
  height: 100vh; /* 고정된 높이 */
  background-color: rgba(0, 0, 0, 0.2); /* 반투명 배경 */
  z-index: 100; /* 다른 요소보다 위에 표시 */
}



.popup-content {
  background: white;
  padding-top: 20px;
  border-radius: 20px;
  width: 470px;
  height: 500px;
  overflow-y: auto;
}

.popup-item {
  list-style:none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding-left: 25px;
  height: 60px;
}

.popup-item:hover {
  background-color: #f0f0f0;
}

.ai-plan-footer {
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
  
}
.ai-plan-create-but{
  border-radius: 28.858px;
  background: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  width: 150px;
  height: 40px;
}

.rdrDefinedRangesWrapper {
  display: none !important; /* Static Ranges 숨기기 */
}

.rdrCalendarWrapper {
  width: 100% !important; /* 캘린더 확장 */
}


.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  cursor: pointer;
}

.dropdown-header img.dropdown-icon {
  width: 20px;
  height: 20px;
}

.custom-dropdown select {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* 드롭다운이 보이지 않도록 숨김 */
  width: 100%;
  height: 100%;
  cursor: pointer;
}