.title{
    width: 1060px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(90deg, #2D41FF 0%, #7E8AFC 67.5%, #C8CDF9 100%);
}
.titletext{
    color: #FFF;
    font-family: Pretendard;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 54px */
    margin-top: 23px;
    margin-left: 43px;
}
.left{
    padding-top: 133px;
    padding-left: 66px;
    
    height: 1080px;
    float: left;

}
.right{
    float: left;
    padding-top: 55px;
    padding-left: 69px;
}
.text{
    color: #1A1A1A;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 30px */
}
.table{
    height: 240px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.gpt{
    width: 248px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    float:right;
    margin-top:24px
}
.gpttext{
    color: #1A1A1A;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    margin-top: auto;
    margin-bottom:auto;
    float: left;
}
.personal{
    width: 409px;
    height: 885px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
}