.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25vw;
  height: 28vh;
  text-align: center;
}

.icon {
  width: 5.5vw;
  height: auto;
  margin-top: 3vh;;
  margin-bottom: 0.2vh;
}

.title {
  margin-bottom: 27.5px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 1.6vh;
  line-height: 150%;
  color: #1A1A1A;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  height: 6.5vh;
  gap: 10px;
  margin: 0;
}

.cancelButton, .confirmButton {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.8vh;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.cancelButton {
  background-color: #D9D9D9;
  color: #000000;
}
.cancelButton:hover {
  background-color: #2D41FF;
  color: #ffffff;
}

.cancelButton:focus {
  background-color: #2D41FF;
  color: #ffffff;
  outline: none;
}

.confirmButton {
  background-color: #D9D9D9;
  color: #000000;
}

.confirmButton:hover {
  background-color: #2D41FF;
  color: #ffffff;
}

.confirmButton:focus {
  background-color: #2D41FF;
  color: #ffffff;
  outline: none;
}