.main-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    overflow: hidden;
}

.gradient-rectangle {
    position: absolute;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(
      2.23deg,
      rgba(45, 65, 255, 0.21) -12%,
      rgba(94, 109, 244, 0.15) 25.11%,
      rgba(255, 255, 255, 0.21) 100.78%
    );
    transform: rotate(90deg);
}

.logo-container {
  position: absolute;
  width: 27vw; 
  height: 9.8vh;
  left: 7.5vw;
  top: calc(50% - 4.9vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 4.8vw;
  height: 4.8vw;
}

.title {
  font-family: 'Pretendard', sans-serif;
  font-size: 4.17vw; 
  font-weight: bold;
  color: #1A1A1A;
  margin: 0;
  text-align: left;
}

.highlight {
  color: #2D41FF;
}