body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f5f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    position: relative;
    width: 34vw;
    height: 66.5vh;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 3%;
    box-sizing: border-box;
}

.logoBox {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vw;
    border-radius: 10px;
    margin-top: 3.8vw;
}

.logo {
    width: 4vw;
    height: auto;
}

.title {
    font-size: 2vw;
    text-align: center;
    color: #000000;
    margin: 0 0 0.7vw 0;
}

.backButton {
    position: absolute;
    top: 5%;
    left: 5.5%;
    width: auto;
    height: 2.2vh;
    cursor: pointer; 
    object-fit: contain;
}

.splitContainer {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.leftSection,
.rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9vw;
    position: relative;
    gap: 0;
}

.leftSection p,
.rightSection p {
    margin-bottom: 0.5vw;
}

.leftSection {
    color: #6A6A6A;
}

.rightSection {
    color: #2D41FF;
}

.leftLine {
    position: absolute;
    bottom: 0;
    height: 1.2px;
    width: 100%;
    margin: 0.1vw 0 0 0;
    background-color: #E3E3E3;
}

.rightLine {
    position: absolute;
    bottom: 0;
    height: 1.5px;
    width: 100%;
    margin: 0;
    background-color: #2D41FF;
}

.messageBox {
    width: 80%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #C9CEFF;
    border-radius: 15px;
    background-color: #ffffff;
    padding-top: 2vw;
}

.lockerIcon {
    height: 3.325vh; 
    object-fit: contain;
    margin-bottom: 1vw; 
}

.messageText {
    font-size: 1vw;
    color: #1A1A1A;
    line-height: 1.5;
    font-family: 'Pretendard', sans-serif;
    margin: 0;
}

.boldText {
    font-weight: bold;
    color: #1A1A1A;
}

.highlightText {
    font-weight: bold;
    color: #2D41FF;
}

.infoBox {
    width: 80%;
    height: 1vw;
}

.infoText {
    font-size: 0.8vw;
    color: #525252;
    line-height: 150%;
    font-family: 'Pretendard';
    font-style: normal;
    text-align: center;
    margin: 0;
}

.loginButton {
    width: 80%;
    height: 5.8vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 600;
    border: none;
    border-radius: 31.5px; 
    box-sizing: border-box;
    cursor: pointer;
    background-color: #2D41FF;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.loginButton:focus,
.loginButton:hover {
    outline: none;
    background-color: #2D41FF;
    color: #ffffff;
}

