/* 전체 레이아웃 */
.study {
  display: flex;
  width: 1704px;
  height: 1079px;
  padding-top: 100px;
  padding-left: 100px;
  gap: 70px;
  background-image: url('/studyBackground.png');
  background-size: cover;
}

/* 왼쪽 섹션 */
.left-panel {
  width : 720px;
}
.top-group{
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 40px;
}
.ai {
  font-size: 25px;
  font-weight: bold;
}

.button-group {
  display: flex;
  gap: 10px;
  width:310px;
}

.study-button {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 40px; /* 둥근 모서리 */
  background-color: white; /* 배경색 */
  font-size: 20px; /* 글씨 크기 */
  font-weight: bold; /* 글씨 굵기 */
  cursor: pointer; /* 마우스 커서 변경 */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  width: 150px;
}

.study-button:hover {
  background-color: #2D41FF; /* 마우스 오버 시 배경색 변경 */
  color: white
}

.study-button:focus {
  outline: none; /* 포커스 시 기본 외곽선 제거 */
}


.result-section {
  border-radius: 25px;
  background: #FFF;
  height: 650px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.plan-content {
  margin-top: 20px;
}

.chat-bubble {
  display: flex;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.chat-icon {
  width: 50px;
  height: 50px;
}

.no-content {
  text-align: center;
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 10px;
  color: #6c757d;
}

/* 오른쪽 섹션 */
.right-panel {
  width: 700px;
  gap: 20px;
}

.progress-section {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.progress-bar {
  display: flex;
  gap: 20px;
  color: white;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 10px;
  border-radius: 25px;
  background: linear-gradient(90deg, #3246FE 0%, #C0C6F9 100%);
}

.todo-section {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.76);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  height: 530px;
  overflow-y: auto;
}
.todo-section-home{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.76);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  height: 200px;
  overflow-y: auto;
}


.todo-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef;
}

.todo-item:last-child {
  border-bottom: none;
}
